.search-course-section {
	padding: 125px 0px 125px 0px;
}
.search-course,
.subs-form {
	input {
		width: 100%;
		height: 60px;
		background-color: #f9f9f9;
		border: none;
		padding: 0px 20px;
		border-radius: 5px;
	}
	.nws-button {
		top: 0;
		right: 0;
		height: 60px;
		width: 195px;
		line-height: 60px;
		position: absolute;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		button {
			background-color: transparent;
			border: none;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			color: $white;	
		}
	}
}
.counter-icon {
	float: left;
	width: 60px;
	height: 45px;
	line-height: 40px;
	margin-right: 15px;
	text-align: center;
	border-right: 1px solid $gray-2;
	i {
		font-size: 38px;
	}
}
.counter-number {
	display: inline-block;
	overflow: hidden;
}
.counter-number {
	p {
		font-size: 14px;
		font-weight: 700;
		font-color: $gray-2;
	}
	.counter-count {
		font-size: 30px;
		color: $black;
		line-height: .9;
	}
	span {
		@extend .counter-count;
		font-weight: 700;
	}
}
.copy-right-menu-item {
	li {
		color: $gray-2;
		margin-left: 30px;

	}
}
.copy-right-menu {
	padding: 45px 0px;
	border-top: 1px solid #ddd6d6;
}
// Home Page 2
.home-secound-course-search {
	background-image: url(../img/banner/banner_piccolino_4.jpg);
	padding-bottom: 0;
	.search-app {
		padding-top: 50px;
	}
	.search-app-content {
		margin-left: 40px;
	}
	.search-course  {
		input {
			background: #4273e1;
			background: -moz-linear-gradient(left, #01a6fd 0%, #4273e1 51%, #01a6fd 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, #4eb3bf), color-stop(51%, #4273e1), color-stop(100%, #4eb3bf));
			background: -webkit-linear-gradient(left, #01a6fd 0%, #4273e1 51%, #0071b0 100%);
			background: -o-linear-gradient(left, #01a6fd 0%, #4273e1 51%, #01a6fd 100%);
			background: -ms-linear-gradient(left, #01a6fd 0%, #4273e1 51%, #01a6fd 100%);
			background: -webkit-gradient(linear, left top, right top, from(#01a6fd), color-stop(51%, #4273e1), to(#01a6fd));
			background: -webkit-linear-gradient(left, #01a6fd 0%, #4273e1 51%, #01a6fd 100%);
			background: linear-gradient(to right, #01a6fd 0%, #4273e1 51%, #01a6fd 100%);
			background-size: 200% auto;
			color:  #fff;
		}
		input::-webkit-input-placeholder {
			color: #fff;
		}
	}
	.counter-number {
		p {
			color: #fff;
		}
	}
	.counter-count {
		color: #fff;
	}
	.section-title {
		span,
		h2 {
			color: #fff;
		}
	}
	.search-app {
		.search-app-content{
			h2 {
				font-size: 35px;
			}
		}
	}
	.app-details-content {
		p {
			font-size: 20px;
			color: #fff;
		}
	}
	.about-list {
		li {
			color: $base-color-2;
			margin-left: 5px;
			&:before {
				width: 10px;
				height: 10px;
				top: 7px;
				background-color: #5196c9;
			}
		}
	}
	.genius-btn {
		width: 190px;
	}
}
.app-stor {
	display: inline-block;
	li {
		font-size: 22px;
		color: $white;
		margin-right: 25px;
		position:  relative;
		&:after {
			position: absolute;
			content: '';
			height: 20px;
			width: 1px;
			top: 4px;
			right: -14px;
			background-color: #9ad1f6;
		}
		&:last-child:after {
			display: none;
		}
	}
}
.search-course-secound {
	background-color: $black;
	padding: 20px 0px  10px !important;
	max-width: 1170px;
	margin: 0 auto;
	border-radius: 5px;
	position: relative;
	z-index: 2;
	top: -40px;
	.counter-number .counter-count,
	.counter-number span {
		color: #fff;
	}
	.counter-number p {
		color: $base-color-2;
		margin: 0;
	}
}
.search-course-third {
	padding: 0;
	.version-four {
		padding: 40px 35px 30px;
	}
	.counter-number p {
		margin-bottom: 0;
	}
	.counter-icon-number {
		position: relative;
		&:before,
		&:after {
			position: absolute;
			content: '';
			bottom: -30px;
			background-color: #eee;
			width: 110%;
			height: 7px;
			left: -20px;
			transition: .5s all ease-in-out;
		}
		&:after {
			background-color: $base-color-2;
			width: 0;
		}
		&:hover::after {
			width: 110%;
		}
	}
}
.home-third-course-search {
	background-color: #f7f7f7;
	padding-bottom: 0;
	.search-course input {
		background-color: #fff;
	}
	.app-stor li {
		color: $gray;
		&:after {
			background-color: $gray;
		}
	}
	.section-title h2 {
		font-size: 42px;
	}
}
#search-course-2 .search-app {
	margin-top: 50px;
}